{
  "extends": "standard-with-typescript",
  "parserOptions": {
    "project": "./tsconfig.json",
    "createDefaultProgram": true
  },
  "rules": {
    "@typescript-eslint/strict-boolean-expressions": 0
  }
}
